body{
    background-color: black;
    color: white;
   
    padding:10px;
    
}




.container{
    
    border: 1px blue solid ;
    padding: 10px;
    display:flex;
    color:white;
    font-size: 10px;
    justify-content: space-between;
    
    
}    
.c1{


flex: 1;



}

.c2{


flex: 1;

}

.c3{
flex: 1;



}

